
.container
{
   height: 300px;
   width: 100vp;
   border: 2px solid black;
   margin: 30px;
   background-color:yellowgreen;
}
.box
{
   height: 100%;
   width: 100px;
   border: 2px solid black;
   background-color: tomato;
   animation-name: bhole;
   animation-duration: 10s;
   animation-delay: 2s;
   animation-timing-function: ease-in;
   animation-direction: alternate;
}
.box:hover
{
   transform: translateX(300px);
}

@keyframes bhole
{
   from 
   {
   
   }
   to
   {
    width: 100%; 
   }
}